
       html{font-size: 110%;}
      
      body{background-color: darkgrey;}
        
      a:link, :visited{
         color: #eee;
         text-decoration: underline;}
     
         ul{
         list-style-type: square;
         color: #eee;
      }
      ol{
         list-style-type: lower-alpha;}
      img{
         max-width: 60%; height: 60%;
      }
      h1{
         font-size: 5vw;
         background-color: black;
         color: white;
         padding: 10px;
         margin: 10px;
      }
      footer{
         font-size: large;
         padding: 10px;
         font-size: 20px;
        
      }
      

      